* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

html {
  width: 100%;
  font-size: 16px;
}


.homepage--img {
  height: 60vh
}

.DogCard, .WalkerCard {
  border: 2px solid #01BF8F;
  border-radius: 15px;
  margin: 5%;
  padding: 2%;
  box-shadow: 2vh 2vh #00987259;
}

.DogCard--layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.DogCard--layout > .dogLeft, .DogCard--layout > .dogRight  {
  width: 50%;
}

.canineImg{
  border-radius: 10px;
  width: 50vh;
}

.homepage--header > h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4.5em;
  margin: 2%;
}


.homepage--description {
  font-size: 2em;
  margin: 3%;
}

.homepage--ratings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5%;
  font-size: 1.5emvh;
}
/* *************************************** */

header{
  text-align: center;
  padding: 3vh;
  
}

h1 {
  color: #01BF8F;
}

Nav {
  width: 100%;
}
nav {
  background-color: #F9AA43;
  text-align: center;
  padding: 1%;
  
}
.links {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2em;
  font-weight: 600;
  cursor:pointer;
  padding: 3vh
}
/* .links:hover {
  font-size: 1.5em;
  transition: all .3s ease-in-out;
} */

h2 {
  margin: .5%;
}

.Home{
  background-color: #F2F2F2;
  max-height: max-content;
}
.home-header{
  padding:20px;
}
/* .intro {
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  font-weight: 500;
  font-size: 30px;
  line-height: 2;
  height: 1000px;
} */

p {
  margin: .5%;
}

form {
  text-align: center;
  display:inline-block;
  width: 75%;
  background-color: #01bf8fae;
  border: 4px solid #01BF8F;
  padding: 1.5%;
  margin: .5%;
  border-radius: 10px;
}

input {
  padding: 1%;
  font-size: 1em;
  border: 1px solid #333;
  border-radius: 10px;
  margin: .5%;
}

button {
  width:11vh;
  margin: .5%;
  padding: .5%;
  border-radius: 4px;
  font-size: 1.2em;
  color:#01BF8F;
  font-weight: 400;
}

.delete-btn {
  background-color: firebrick;
  color: whitesmoke;
}

.edit-btn {
  background-color: cornflowerblue;
  color: whitesmoke;
}

.filterTitle{
  margin-top: 10px;
  margin-left: 10px;
}
.filter-form {
  margin:10px;
  width: 200px;
}

@media screen and (max-width: 900px) {

  nav {
    width: 100%;
  }

  .canineImg {
    width: 40vh;
  }

  .homepage--ratings--img {
    width: 80%;
  }

  .img1 {
    width: 50%;
    max-height: 40px;
  }

  .img2 {
    width: 45%;
  }

  .img3{
    max-width: 20%;
    max-height: 100px;
  }

  .img4{
    width: 60%;
    max-height: 80px;
  }


}

@media screen and (max-width: 700px) {
  html{
    font-size: 15px;
  }

  nav {
    width: 100%;
  }

  .homepage--img {
    height: 50vh
  }

  .canineImg {
    width: 30vh;
  }

  .homepage--ratings--img {
    width: 80%;
  }

  .img1 {
    width: 60%;
    max-height: 40px;
  }

  .img2 {
    width: 65%;
  }

  .img3{
    max-width: 20%;
    max-height: 79px;
  }

  .img4{
    width: 80%;
    max-height: 80px;
  }

}

@media screen and (max-width: 580px) {
  html{
    font-size: 10px;
  }

  nav {
    width: 100%;
  }

  .homepage--header {
    margin: 5%;
  }

  .canineImg {
    width: 25vh;
  }

  .homepage--img {
    height: 40vh;
  }

  .homepage--ratings--img {
    width: 80%;
  }

  .img1 {
    width: 60%;
    max-height: 40px;
  }

  .img2 {
    width: 65%;
  }

  .img3{
    max-width: 20%;
    max-height: 79px;
  }

  .img4{
    width: 80%;
    max-height: 80px;
  }

}

@media screen and (max-width: 425px) {
  html{
    font-size: 7px;
  }

  nav {
    width: 100%;
  }

  .homepage--img {
    height: 25vh
  }

  .canineImg {
    width: 20vh;
  }

  .homepage--ratings--img {
    width: 80%;
  }

  .img1 {
    width: 80%;
    max-height: 100px;
  }

  .img2 {
    width: 65%;
  }

  .img3{
    max-width: 30%;
    max-height: 100px;
  }

  .img4{
    width: 100%;
    max-height: 100px;
  }
}
@media screen and (max-width: 350px) {
  html{
    font-size: 5px;
  }

  nav {
    width: 100%;
  }
  
  .canineImg {
    width: 15vh;
  }
}